extends layout

block content
  div.post
    h3
      a(href=post.url)
        = post.title
    span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
    div.content
      != post.content
    div.tags
      - each tag in post.tags
        a(href=tagUrl(tag))
          span.label.label-info #{tag}
  #disqus_thread
  script.

    var disqus_shortname = 'stavrogin'; // required: replace example with your forum shortname
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();


  noscript
    | Please enable JavaScript to view the
    a(href='http://disqus.com/?ref_noscript') comments powered by Disqus.
  a.dsq-brlink(href='http://disqus.com')
    | comments powered by
    span.logo-disqus Disqus
