extends layout

append head
  script(type='text/javascript', src='../javascript/jquery.fancybox.js')
  link(rel='stylesheet', href='/styles/jquery.fancybox.css')

block work
    div.gradient
      div.sub
    nav.bar
      .nav-tablet
              span.icon-tablet
              span.icon-tablet
              span.icon-tablet
      ul.nav
          li.nav 
            a.brand(href='/') Blog
              .brand-gradient
          li.nav 
            a.brand(href='/work') Work
              .brand-gradient.two
      .lines
          .line-1
          .line-2
          .line-3
          .line-4
      a#pull
        .nav-button
          span.icon-bar
          span.icon-bar
          span.icon-bar
      h1.expand Paintings
        .brand-gradient.three
      ul.navi.nav-list
        li.tag.oil 
            a Oil
        li.tag.acrylic 
            a Acrylic
        li.tag.charcoal 
            a Charcoal
        li.tag.digital 
            a Digital
        li.tag.watercolor 
            a Watercolor



      .about
          .bottom
            img.self(src='../images/self.png', alt='')
            h1.about-me About
            p.me I am a community college student/ philosopher/ dunce interested in art, design. music and web development. I try to make sense.
            
            #mc_embed_signup
              form#mc-embedded-subscribe-form.validate(action='http://heroku.us3.list-manage.com/subscribe/post-json?u=e1cf44a59fecbe47cda7b5e61&id=b2b4f9b0fa&c=?', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
                input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='required')
                div.form
                  input(type='text', name='b_e1cf44a59fecbe47cda7b5e61_b2b4f9b0fa', value='')
                .clear
                  input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
              .notification_container

   
    .wrap
      .header
        h2.design.radio RADIO
        h2.design SCHIZO
      .row
        .blur
        article.main
          p.main.
            Through my art I try to bring dream-like imagery into reality. Every night there is the possibility drift off to unfamiliar places, most of the time never to bee seen or remembered again. These images shold be remembered. The world has many beautiful places, but everything is limited by the laws of physics. Our mind knows no such laws. It's nice to explore these posibilities.
          .collapse
            .art
              a.fancybox.acrylic(href='../images/Ian-Curtis.jpg' title="Ian Curtis")
                .image-hover.a
                  h2 Ian Curtis
                img.small(src='../images/Ian-Curtis-thumb.jpg', alt='')
               a.fancybox.charcoal(href='../images/still-life-with-bunny.jpg' title="Still Life with Rabbit")
                .image-hover.e
                  h2 Still Life With Rabbit
                img.small(src='../images/still-life-with-bunny-thumb.jpg', alt='')
              a.fancybox.digital(href='../images/russian-stamp.jpg' title="Russian Stamp")
                .image-hover.c
                  h2 Russian Stamp
                img.small(src='../images/russian-stamp-thumb.jpg', alt='')
            .art
              a.fancybox.digital(href='../images/self-21.jpg' title="Self-Portrait")
                .image-hover.d
                  h2 Self-Portrait
                img.small(src='../images/self-thumb.jpg', alt='')
              a.fancybox.oil(href='../images/no-control.jpg' title="No Control")
                .image-hover.b
                  h2 No Control
                img.small(src='../images/no-control-thumb.jpg', alt='')
              a.fancybox.oil(href='../images/window.jpg' title="The Window")
                .image-hover.f
                  h2 The Window
                img.small(src='../images/window-thumb.jpg', alt='')
            .art
              a.fancybox.oil(href='../images/transduction-of-past-present-and-future.jpg' title="Transduction of Past Present and Future")
                .image-hover.g
                  h2 Transduction of Past Present and Future
                img.small(src='../images/transduction-of-past-present-and-future-thumb.jpg', alt='')
              a.fancybox.watercolor(href='../images/watercolor.jpg' title="Lucidity")
                .image-hover.h
                  h2 Lucidity
                img.small(src='../images/watercolor-thumb.jpg', alt='')
              a.fancybox.charcoal(href='../images/still-life-rifle.jpg' title="Mosin Nagant")
                .image-hover.h
                  h2 Mosin Nagant
                img.small(src='../images/still-life-with-rifle-thumb.jpg', alt='')
      footer
        p Nathan Zankich 2014






block script          
  script.
    (function(e){e.fn.hoverIntent=function(t,n,r){var i={interval:100,sensitivity:7,timeout:0};if(typeof t==="object"){i=e.extend(i,t)}else if(e.isFunction(n)){i=e.extend(i,{over:t,out:n,selector:r})}else{i=e.extend(i,{over:t,out:t,selector:n})}var s,o,u,a;var f=function(e){s=e.pageX;o=e.pageY};var l=function(t,n){n.hoverIntent_t=clearTimeout(n.hoverIntent_t);if(Math.abs(u-s)+Math.abs(a-o)<i.sensitivity){e(n).off("mousemove.hoverIntent",f);n.hoverIntent_s=1;return i.over.apply(n,[t])}else{u=s;a=o;n.hoverIntent_t=setTimeout(function(){l(t,n)},i.interval)}};var c=function(e,t){t.hoverIntent_t=clearTimeout(t.hoverIntent_t);t.hoverIntent_s=0;return i.out.apply(t,[e])};var h=function(t){var n=jQuery.extend({},t);var r=this;if(r.hoverIntent_t){r.hoverIntent_t=clearTimeout(r.hoverIntent_t)}if(t.type=="mouseenter"){u=n.pageX;a=n.pageY;e(r).on("mousemove.hoverIntent",f);if(r.hoverIntent_s!=1){r.hoverIntent_t=setTimeout(function(){l(n,r)},i.interval)}}else{e(r).off("mousemove.hoverIntent",f);if(r.hoverIntent_s==1){r.hoverIntent_t=setTimeout(function(){c(n,r)},i.timeout)}}};return this.on({"mouseenter.hoverIntent":h,"mouseleave.hoverIntent":h},i.selector)}})(jQuery)




    $(window).bind('scroll', function() {
         if ($(window).scrollTop() > 330) {
           $('nav.bar').addClass('out').removeClass('bar');
          }
         else {
             $('nav').removeClass('out').addClass('bar');
         }
    });

    $(window).scroll(function() {
        var el = $('.header');    
        var offset = el.offset();  
        var opacity = ( ((offset.top * 3.2) - el.height() -100) /1200 ) * -1.2;
        $('.header').css('opacity', opacity );
    });

    $(document).ready(function() {
        $(".fancybox").fancybox();
     });

    

      

     $(".image-hover").hoverIntent({    
        sensitivity: 5, // number = sensitivity threshold (must be 1 or higher)    
        interval: 50, // number = milliseconds for onMouseOver polling interval    
        timeout: 1000, // number = milliseconds delay before onMouseOut    
       over:function(){
           $(this).addClass("transition");
        },
       out: function(){
            className = this.className.split(' ');
            for (var i = 0; i < className.length; i+=1) {
            if (className[i].indexOf('') >= 0) {
              className = ("." + className[1]);
              }
            };
            $(className).addClass("transition-out");
            var delay = setTimeout(function(){
            $(className).removeClass("transition");
            $(className).removeClass("transition-out");
            }, 300);
        }
    });

    

    $(document).ready(function() {
        $("ul.navi").addClass("hide")
      });

    

    $('li.oil').click(function(){
       $('.art').children().hide();
       $('a.oil').show();
       }
    );

    $('li.acrylic').click(function(){
       $('.art').children().hide();
       $('a.acrylic').show();
       }
    );

    $('li.charcoal').click(function(){
       $('.art').children().hide();
       $('a.charcoal').show();
       }
    );

    $('li.digital').click(function(){
       $('.art').children().hide();
       $('a.digital').show();
       }
    );

    $('li.watercolor').click(function(){
       $('.art').children().hide();
       $('a.watercolor').show();
       }
    );

     $('h1.expand').click(function(){
       $('.art').children().show();
       }
    );

    $('h1.expand').click(function(){
        $("ul.navi").toggleClass("hide", 300);
        $('li.tag').toggleClass('children');
        if(w < 559 && menu.is(':visible')){
          menu.hide();
        }
      });

      $('.nav-tablet').click(function() {
          $('nav').toggleClass("tablet", 100);
          $('.about').toggleClass("about-slide");
      });

      var w = $(window).width();
      var menu    = $('nav ul.nav');
      $(function() {
        var pull    = $('#pull');
        menuHeight  = menu.height();

        $(pull).on('click', function(e) {
          e.preventDefault();
          menu.slideToggle();
           if($(".tag").hasClass("children")) {
             $(".tag").removeClass('children');
             $(".navi").addClass('hide');
          }

        });


        $(window).resize(function(){
          if(w > 541 && menu.is(':hidden')) {
            menu.removeAttr('style');
          }
        });
      });

      jQuery(".design").fitText(.4, { minFontSize: '80px', maxFontSize: '150px' })