doctype html
html
  head
    block head
      title= 'Poet Demo'
      meta(charset='utf-8')
      link(rel='stylesheet', href='/css/bootstrap.css')
    
  body
    block content
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            a.brand(href='/') Poet Demos
      .wrap
        .container
          .row
            .span8
              block content
            .span4
              .well.sidebar-nav
                ul.nav.nav-list
                  li.nav-header categories
                  - each cat in categoryList
                    li
                      a(href=categoryUrl(cat)) #{cat}
                  li.nav-header tags
                  - each tag in tagList
                    li
                      a(href=tagUrl(tag)) #{tag}  
  script.
      
      // Instantiate EasyZoom plugin
      var $easyzoom = $('.easyzoom').easyZoom();

      // Get the instance API
      var api = $easyzoom.data('easyZoom');
  
      $(window).bind('scroll', function() {
           if ($(window).scrollTop() > 150) {
             $('aside.hidden').addClass('aside');
            }
           else {
               $('aside.hidden').removeClass('aside');
           }
      });
      
      $(document).ready(function(){
        $('a[href^="#"]').on('click',function (e) {
            e.preventDefault();
      
            var target = this.hash,
            $target = $(target);
      
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });
      });
      
      
      $(document).ready(function() {
          var s = $("#portfolio"); 
          var pos = s.position();                   
          $(window).scroll(function() {
              var windowpos = $(window).scrollTop();
              if (windowpos >= pos.top) {
                  s.addClass("stick");
              } else {
                  s.removeClass("stick");
              }
          });
      });
      
      $(window).scroll(function() {
          var el = $('.back');    
          var offset = el.offset();  
          var opacity = ( (offset.top - el.height() ) / 1000 ) * -1;
          $('.back').css('opacity', opacity );
      });
      
      $(document).ready(function () {
          $("ul.nav").hide().slideDown(1000).fadeIn(1000);
      });
      
      jQuery(document).ready(function ($) {
          //Set default open/close settings
          var divs=$('.art>div').hide(); //Hide/close all containers
      
          var h2s=$('.art>img.small').click(function () {
              h2s.not(this).removeClass('active')
              $(this).toggleClass('active')
              divs.not($(this).next()).slideUp()
              $(this).next().slideToggle()
              return false; //Prevent the browser jump to the link anchor
      
          });
      
      
      });
      
  
   
  
    